@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg{
  background-image: url(../public/Header.png);
  background-repeat: no-repeat;
  width: 100%;
  object-fit: cover;
  overflow-x: hidden;
}
.btn {
  @apply rounded-md py-3 px-10 text-white transition-all text-center text-sm flex items-center justify-center border border-rose-700 my-6 bg-rose-700 hover:bg-white hover:text-rose-700;
}
.head_text {
  @apply  text-4xl font-normal leading-10 text-white md:text-5xl;
}
.desc {
  @apply text-xs text-white md:text-[1.1rem] leading-6 mt-4 ;
}
.contain {
  margin: auto;
}

/*=====================SPINNER----------------*/
.spinner {
  animation: rotate 2s linear infinite;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px;
  
 
  
} .spinner .path {
    stroke: hsl(210, 70, 75);
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}


.pagination-flex-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 0.5em;
  border-radius: 4px;
  flex-wrap: wrap;
}

.pagination-flex-box li {
  background-color: rgb(190 18 60 /1);
  color: white;
  padding: 0 1em;
  border-radius: 3px;
  list-style-type: none;
  cursor: pointer;
}

.pagination-boxes {
  padding: 0.5em 1em !important;
}